body {
    color: #777;
    text-shadow: none;
}

section h2 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}

h1 {
    margin-top: 0;
}

details {
    display: block;
}

label {
    font-weight: normal;
    color: #212121;
}

var {
    font-style: normal;
}

hr {
    border-color: #cfcfcf;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}
.i-home {
    background-image: url(../images/home.png);
}
.i-phone {
    background-image: url(../images/phone.png);
}
.i-phone-alt {
    background-image: url(../images/phone_alt.png);
}

#navbarTop {
    background-color: #9f9f9f;
    margin-bottom: 0;
}
#navbarTop .navbar {
    margin-bottom: 0;
}

#catalog {
    margin-bottom: 80px;
}

#catalog h1 {
    margin-top: 0;
}

#catalogNavigation>li>a {
    color: #fff;
    text-shadow: rgba(0,0,0,.1) 0 1px 4px;
}
#catalogNavigation>li>a:active {
    box-shadow: rgba(0,0,0,.12) 0 2px 4px inset;
    background-color: !inherit;
}
#catalogNavigation>li:nth-child(1)>a {
    background-color: #ff3131;
    border-right: #fff 2px solid;
}
#catalogNavigation>li:nth-child(1)>a:hover {
    background-color: #ff4242;
}
#catalogNavigation>li:nth-child(2)>a {
    background-color: #f29a24;
    border-right: #fff 2px solid;
}
#catalogNavigation>li:nth-child(2)>a:hover {
    background-color: #f3ab35;
}
#catalogNavigation>li:nth-child(3)>a {
    background-color: #eabc19;
}
#catalogNavigation>li:nth-child(3)>a:hover {
    background-color: #fbcd2a;
}

#footer {
    background-color: #504f4e;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 60px;
}
#footer .logo-box {
    margin: 12px;
}
#footer .logo {
    margin-bottom: 24px;
}
#footer a {
    color: rgba(255, 255, 255, .8);
}
#footer .copyright {
    color: rgba(255, 255, 255, .8);
    margin-bottom: 24px;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
#footer .list-unstyled {
    line-height: 2em;
    margin-bottom: 24px;
}

.padded {
    padding: 15px;
}

.bordered {
    border: #ffc91b 2px solid;
}

button>img {
    vertical-align: middle;
}

.popular-product-card .img-thumbnail {
    width: 100%;
    background-size: cover;
    padding: 0;
    border-width: 0;
}

.popular-product-card>h5 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popular-product-card>h5>a {
    color: #7e7e7e;
}

.popular-products--price {
    color: #ff9d3c;
}

.popular-products--price>.glyphicon-ruble {
    font-size: .8em;
}

.text-dark:hover,
.text-dark:active,
.text-dark {
    color: #222;
}

.text-orange:active,
.text-orange:hover,
.text-orange {
    color: #ff9d3c
}

.info--contacts a {
    color: #222;
}

.news h5 {
    margin-bottom: 5px;
    color: #333333;
}
.news time {
    display: block;
    margin-bottom: 5px;
    color: #ffdd55;
}
.news .img-cover {
    height: 120px;
}

.shop-list>li {
    padding-right: 0;
    padding-left: 0;
    line-height: 1.6em;
}
.shop-list>li>a {
    color: #ff9900;
}
.shop-list>li:not(:last-child)>a:after {
    content: " | ";
}

.carousel-inner>.item>.img-cover {
    height: 400px;
}

.img-cover-big,
.img-cover {
    display: block;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img-cover-big {
    height: 275px;
}

.btn-basket {
    display: inline-block;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 15%;
    padding-top: 12px;
    padding-bottom: 12px;    
    border-radius: 0 0 2px 2px;
}

.btn-basket:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 28px;
    margin-right: 8px;
	background-image: url(../images/shoppingbasket.png);
	vertical-align: middle;
}

.filter-options {
    display: inline-block;
    color: #000;
}
.filter-options>.btn {
    border-bottom: #ff9d3c 1px solid;
    padding: 0;
    margin: 0 20px;
}
.filter-options>.btn.active {
    box-shadow: none;
    color: #ff9d3c;
    border-bottom-color: transparent;
}

.product-info h1 {
    font-size: 1.4em;
}
.product-info .product--price {
    font-size: 1.6em;
}
.product-info .product--old-price {
    font-size: 1.2em;
    margin-top: .2em;
}

.products.complect .product-item-details {
    padding: 15px 0;
}
.products>.col-md-3 .product-item-details>h5 {
    margin-bottom: 15px;
}

.products .product-item {
    border-radius: 2px;
    margin-bottom: 20px;
}
.products .product-item .btn.btn-default {
    margin-top: 5px;
}
.products:not(.complect) .product-item {
    border: #e3e3e3 1px solid;
}
.product-item-form {
    text-align: center;
    color: #222;
}
.product-item-form .form-control {
    width: 70px;
    display: inline-block;
    border-radius: 6px;
}
.products .product-item>.img-cover {
    border-radius: 2px 2px 0 0;
}
.product--price+.glyphicon-ruble,
.product--price {
    color: #ff9d3c;
}
.product--price>var {
    font-weight: bold;
}
.product--price {
    font-size: 1.3em;
}
.product--old-price {
    text-decoration: line-through;
}
.products .product-item .product--name {
    color: #000;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.products .product-item-details {
    padding: 20px;
}
.product-item-details h1,
.product-item-details h2,
.product-item-details h3,
.product-item-details h4,
.product-item-details h5,
.product-item-details h6 {
    margin-top: 0;
    margin-bottom: 25px;
}

#popularModels {
    padding: 40px 0;
}

#aboutCompany {
    background-color: #f7f7f7;
}
#aboutCompany .about-item {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 15px;
}
#aboutCompany .about-item h1,
#aboutCompany .about-item h2,
#aboutCompany .about-item h3,
#aboutCompany .about-item h4,
#aboutCompany .about-item h5,
#aboutCompany .about-item h6 {
    font-weight: bold;
}

#sectionGallery .gallery {
    height: 500px;
}
#sectionGallery .img-cover {
    height: 500px;
    width: 33.33%;
    display: block;
    float: left;
    position: relative;
    margin: 0;
    transition: all .4s ease;
    transition-delay: .1s;
}
#sectionGallery .gallery .img-cover:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0);
    transition: all .4s ease;
}
#sectionGallery .gallery:hover .img-cover {
    width: 25%;
}
#sectionGallery .gallery:hover .img-cover:hover {
    width: 50%;
    z-index: 1;
}
#sectionGallery .gallery:hover .img-cover:before {
    background-color: rgba(0,0,0,.6);
}
#sectionGallery .gallery:hover .img-cover:hover:before {
    background-color: rgba(0,0,0,0);
}
#sectionGallery .gallery h4 {
    position: absolute;
    padding: 20px;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.6);
    color: #fff;
    text-shadow: rgba(0,0,0,.5);
}
#sectionGallery .gallery>.img-cover:nth-child(1) h4 {
    background-color: rgba(255, 0, 0, .8);
}
#sectionGallery .gallery>.img-cover:nth-child(2) h4 {
    background-color: rgba(255, 153, 0, .8);
}
#sectionGallery .gallery>.img-cover:nth-child(3) h4 {
    background-color: rgba(255, 221, 85, .8);
}

#ourShops {
    background-color: #f7f7f7;
}
#ourShops .img-bg {
    height: 350px;
}
#ourShops .is-content {
    padding: 60px;
}

#productCarousel>.carousel-inner>.item.img-cover {
    height: 380px;
}
#productCarousel .carousel-indicators {
    position: static;
    display: table;
    table-layout: fixed;
    width: 100%;
    left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}
#productCarousel .carousel-indicators>li {
    display: table-cell;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
#productCarousel .another-photos-title {
    margin: 15px 0;
    position: relative;
}
#productCarousel .another-photos-title>span {
    background-color: #fff;
    display: inline-block;
    padding-right: 10px;
}
#productCarousel .another-photos-title:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 55%;
    border-top: #a6a6a6 1px solid;
    z-index: -1;
}
#productCarousel .carousel-inner {
    margin-bottom: 0;
}
#productCarousel .carousel-inner>.item>img {
    margin: 0 auto;
}
#productCarousel .carousel-indicators .active {
    width: 100%;
}
#productCarousel .carousel-indicators .active>.img-cover {   
    outline: #ff9900 4px solid;
}
#productCarousel .carousel-indicators>li:not(:last-child) {
    padding-right: 20px;
}
#productCarousel .carousel-indicators>li>.img-cover {
    height: 100%;
}

.table-basket .img-cover {
    height: 80px;
}
.table-basket>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
}
.table-basket>thead {
    background-color: #949494;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.table-basket>tbody {
    background-color: #f2f1f1;
    color: #222;
}
.table-basket>tfoot {
    background-color: #ffdc37;
    border-width: 0;
    color: #222;
}
.table-basket>tbody>tr.row-product-complect-details>td {
    border-width: 0;
}
.product-complect-details {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    text-align: left;
}
.product-complect-details>table {
    margin-left: 30px;
}

.table-basket h1,
.table-basket h2,
.table-basket h3,
.table-basket h4,
.table-basket h5,
.table-basket h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

.table-basket>thead>tr>td,
.table-basket>tfoot>tr>td {
    padding: 15px;
    border-width: 0;
    vertical-align: middle;
}
.table-basket>thead>tr>td {
    font-size: .9em;
    font-weight: bold;
    border-right: 1px solid rgba(255,255,255, .2);
}
.table-basket .btn-remove {
    border-radius: 0;
    padding: 5px 10px;
}
.table-basket>thead>tr>td.col-photo {
    width: 150px;
}
.table-basket>thead>tr>td.col-name {
    width: 180px;
}
.table-basket>thead>tr>td.col-price {
    width: 180px;
}
.table-basket>thead>tr>td.col-count {
    width: 200px;
}
.table-basket>thead>tr>td.col-total-price {
    width: 180px;
}
.table-basket>thead>tr>td.col-remove {
    width: 60px;
}

.table-basket>tbody>tr>td.col-photo {
    padding: 15px;
}
.table-basket>tbody>tr>td.col-name {
    text-align: left;
}
.table-basket small {
    color: #919191;
}
.table-basket>tbody>tr>td.col-photo>img {
    width: 100%;
}
.table-basket>tfoot>tr>td.is--price {
    text-align: center;
}

.table-basket .is--price { 
    font-size: 1.3em;
}
.is--price {
    color: #e96322;
    font-weight: bold;
}

.the-rise-of-the-floor {
    display: inline-block;
    max-width: 300px;
}

.glyphicon.glyphicon-ruble {
    font-size: .9em;
}

.panel {
    overflow: auto;
}

.form-order>div>.row {
    margin-bottom: 15px;
}

header label {
    font-weight: normal;
}

.info--stock .glyphicon,
.info--retail-department .glyphicon,
.info--wholesale-department .glyphicon{
    color: #ff9900;
    vertical-align: middle;
    font-size: 1.5em;
    margin-top: 5px;
}
.info--contact-us>.btn-lg {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1em;
}
.info address {
    margin-bottom: 0;
}
.info a[href^="phoneto:"],
.info a[href^="tel:"] {
    font-size: 1.2em;
    white-space: nowrap;
}
.info a:not(.btn) {
    color: #333333;
}
.info a[href^="mailto:"] {
    color: #7e7e7e;
}

#navbarTop .navbar-brand {
    line-height: 25px;
}

.product-item {
    position: relative;
}
.product-item-discount {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    line-height: 50px;
    background-color: #ffff66;
    color: red;
    z-index: 1;
}
.product-item .product-item-discount {
    position: absolute;
    right: 15px;
    top: 15px;
}
.products .product-item .alert {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-radius: 2px 2px 0 0;
    border-width: 0;
}


.tabs-outline.nav-tabs {
    margin-bottom: 25px;
    border-width: 0;
    text-align: center;
}
.tabs-outline.nav-tabs>li {
    float: none;
    display: inline-block;
}
.tabs-outline.nav-tabs>li>a {
    color: #777777;
    padding: 5px 20px;
    min-width: 105px;
    text-align: center;
}
.tabs-outline.nav-tabs>li:hover>a {
    background-color: transparent;
    border-color: transparent;
    color: #333333;
}
.tabs-outline.nav-tabs>li.active>a, 
.tabs-outline.nav-tabs>li.active>a:focus, 
.tabs-outline.nav-tabs>li.active>a:hover {
    border: #ff9900 1px solid;
    color: #ff9900;
    border-radius: 2px;
}

.table-options {
    width: 100%;
}
.table-options>tbody>tr:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 15px;
    right: 15px;
    margin-top: 15px;
    border-top: #ddd 1px solid;
}
.table-options>tbody>tr>td:nth-child(2) {
    text-align: right;
}
.table-options>tbody>tr>td {
    margin: 0;
    padding: 0;
}
.table-options>tbody>tr>td>label,
.table-options>tbody>tr>td>span {
    display: inline-block;
    overflow: hidden;
    background-color: #fff;
    white-space: nowrap;
}
.table-options>tbody>tr>td>label {
    padding-right: 5px;
}
.table-options>tbody>tr>td>span {
    padding-left: 5px;
}

section#aboutCompany,
section#news {
    padding: 40px 0;
}

@media screen and (max-width: 1200px) {
    #aboutCompany .about-item {
        min-height: 320px;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-products>.navbar-nav {
        width: 80%;
    }
}
@media screen and (max-width: 1024px) {
    .navbar-brand, .navbar-nav > li > a {
        padding-right: 12px;
        padding-left: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .btn-basket {
        right: 15px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-products>.navbar-nav>li {
        width: 20%;
        text-align: center;
    }
    .navbar-products>.navbar-nav {
        margin: 0 auto;
        float: none;
    }
    .form-order .is-label {
        text-align: right;
    }


    #aboutCompany {
        background-image: url(../images/about_header_decoration.png);
        background-repeat: no-repeat;
        background-position: center 40px;
        padding-top: 110px !important;
    }

    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 769px) {
    .info--search {
        padding-top: 6px;
    }
    .info--contact-us {
        padding-top: 10px;
    }
    .info--schedule,
    .info--contacts {
        padding-top: 5px;
    }
}

@media screen and (min-width: 992px) {
    .news h5 {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    #ourShops {
        text-align: center;
    }
    #aboutCompany .about-item {
        padding: 20px;
    }
    #sectionGallery .img-cover,
    #sectionGallery .gallery {
        height: 250px;
    }
    .products:not(.complect)>.col-sm-6:nth-child(3) {
        display: none;
    }
    #productCarousel .carousel-indicators>li:not(:last-child) {
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .btn-basket {
        right: 0;
        top: 67px;
        border-radius: 4px 0 0 4px;
        padding: 10px;
        opacity: .9;
    }
    #infoContainer {
        padding: 15px;
        padding-bottom: 0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
        background-color: rgba(255, 255, 255, .4);
        color: #222;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #222;
    }
    .contacts {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-default .navbar-toggle>.glyphicon {
        top: 4px;
    }
    #search {
        height: 45px;
    }
    .search-container>.form-control-feedback {
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
    .info--contact-us>.btn {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .carousel-inner>.item>.img-cover {
        height: 300px;
    }
    .carousel-caption {
        left: 15px;
        width: auto;
        padding: 15px;
        background-color: rgba(255, 255, 255, .7);
    }
    .carousel-caption>p {
        font-size: 1em;
    }
    .popular-product-card {
        padding: 0;
    }
    .carousel-indicators>li {
    	background-color: #a6a6a6;
    }

    .info>div {
        margin-top: 15px;
    }

    #ourShops .is-content {
        padding: 20px;
    }

    #productCarousel>.carousel-inner>.item.img-cover {
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    #footer {
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 320px) {
    #productCarousel .carousel-indicators>li.active,
    #productCarousel .carousel-indicators>li {
        height: 60px;
    }
}